<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/commonn.css}">
	</head>

	<body>
		<div class="footer">
			<div class="width-wrap">
				<div class="footer-top cl">
					<div class="foot-topL cl">
						<dl>
							<dt>关于我们</dt>
							<dd>
								<a href="#" style="cursor:default">关于平台</a>
							</dd>
							<dd>
								<a href="#" style="cursor:default">团队介绍</a>
							</dd>
							<dd>
								<a href="#" style="cursor:default">集团背景</a>
							</dd>
							<dd>
								<a href="#" style="cursor:default">隐私政策</a>
							</dd>
						</dl>
						<dl>
							<dt>产品服务</dt>
							<dd>
								<a href="#" style="cursor:default">联系我们</a>
							</dd>
						</dl>
						<dl class="delmr">
							<dt>安全保障</dt>
							<dd>
								<a href="#" style="cursor:default">平台数据</a>
							</dd>
							<dd>
								<a href="#" style="cursor:default">风险管理</a>
							</dd>
							<dd>
								<a href="#" style="cursor:default">法律法规</a>
							</dd>
						</dl>
					</div>
					<div class="foot-topC ">
						<div class="cl">
							<ul>
								<li>微信订阅号</li>
								<li><img src="../img/weixin.png"></li>
							</ul>
							<ul>
								<li>微信服务号</li>
								<li><img src="../img/fuwuhao.png"></li>
							</ul>
							<ul>
								<li>
									<a href="https://weibo.com/bhuers" rel="nofollow" target="_blank">
										官方微博<i class="common-icon-New goTo-icon"></i>
									</a>
								</li>
								<li>
									<a href="https://weibo.com/bhuers" rel="nofollow" target="_blank">
										<img src="../img/weibo.png">
									</a>
								</li>
							</ul>
						</div>
						<div>
							<p><i class="common-icon-New tlogo-icon"></i>海马医疗耗材采购官网</p>
						</div>
					</div>
					<div class="foot-topR">
						<h3>400 100 8899</h3>
						<p>服务时间：08:00-20:00</p>
						<p>电子邮件：kefu@haima.com</p>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="footer-copyrightText">
						<span>Copyright© 2019 海马科技有限公司 版权所有</span>
						<a href="#" style="cursor:default">增值电信业务经营许可证 ：冀B2-20160056</a> 冀ICP备15017012号
					</div>
				</div>
			</div>
		</div>
	</body>

</html>