<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" th:href="@{/css/commonn.css}" />
		<link rel="stylesheet"  th:href="@{/css/base.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" ></script>
	</head>

	<body>

		<div class="head-wrap">
			<div id="head" class="head head-bgcolor shadow">
				<!--top-header开始-->
				<div id="top-header" class="top-head cl">
					<div class="width-wrap">
						<a th:href="@{/index}">
							<h1 class="logo">海马</h1>
						</a>
						<ul class="cl">
							<div sec:authorize="isAuthenticated()">
								<li t="l">您好，
									<a href="#" sec:authentication="name"></a>

									<form id="loginForm" th:action="@{/logout}" method="post" style="margin:0px;display:inline;">

										<a onclick="document:loginForm.submit()">[退出]</a>
									</form>
								</li>
								</li>
								<span></span>
								<li class="delpr" >400-100-8899 (08:00-20:00)</li>
							</div>


							<!--匿名-->
							<div sec:authorize="isAnonymous()">
								<li t="u">
									<a class="pr" th:href="@{member/login}">登录</a>
									<a th:href="@{member/register}">注册</a>
								</li>
							</div>
						</ul>
					</div>
				</div>
				<!--top-header结束-->
				<!--nav开始-->
				<div id="header">
					<div class="headerLine"></div>
					<div class="width-wrap head-nav cl">
						<ul class="cl ful">
							<li class="delpl">
								<a class="actived pointer" th:href="@{/index}">首页 </a>
							</li>
							<li>
								<a id="snlc" th:href="@{/milestone}" class="pointer">公司介绍</a>
							</li>
							<li>
								<a id="loan_a1" th:href="@{/administrator/procurement}" class="pointer">采购信息管理</a>
							</li>
						</ul>

					</div>


				</div>

				<!--nav结束-->
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{js/core.js}" ></script>
</html>