@-webkit-keyframes fadeIn {
 0% {
  opacity:0
 }
 100% {
  opacity:1
 }
}
@-moz-keyframes fadeIn {
 0% {
  opacity:0
 }
 100% {
  opacity:1
 }
}
@-o-keyframes fadeIn {
 0% {
  opacity:0
 }
 100% {
  opacity:1
 }
}
@keyframes fadeIn {
 0% {
  opacity:0
 }
 100% {
  opacity:1
 }
}
.fadeIn {
 -moz-animation:fadeIn .8s;
 animation:fadeIn .8s;
 -webkit-animation:fadeIn .8s;
 -o-animation:fadeIn .8s
}
@-webkit-keyframes fadeOut {
 0% {
  opacity:1
 }
 100% {
  opacity:0
 }
}
@-moz-keyframes fadeOut {
 0% {
  opacity:1
 }
 100% {
  opacity:0
 }
}
@-o-keyframes fadeOut {
 0% {
  opacity:1
 }
 100% {
  opacity:0
 }
}
@keyframes fadeOut {
 0% {
  opacity:1
 }
 100% {
  opacity:0
 }
}
.fadeOut {
 -moz-animation:fadeOut .8s;
 animation:fadeOut .8s;
 -webkit-animation:fadeOut .8s;
 -o-animation:fadeOut .8s
}
@-webkit-keyframes slideInDown {
 0% {
  opacity:0;
  -webkit-transform:translateY(-1.8rem);
  -ms-transform:translateY(-1.8rem);
  transform:translateY(-1.8rem)
 }
 100% {
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0)
 }
}
@keyframes slideInDown {
 0% {
  opacity:0;
  -webkit-transform:translateY(-1.8rem);
  -ms-transform:translateY(-1.8rem);
  transform:translateY(-1.8rem)
 }
 100% {
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0)
 }
}
.slideInDown {
 animation:slideInDown .8s;
 -webkit-animation:slideInDown .8s;
 -o-animation:slideInDown .8s
}
@-webkit-keyframes slideOutUp {
 0% {
  opacity:0;
  -webkit-transform:translateY(1.8rem);
  -ms-transform:translateY(1.8rem);
  transform:translateY(1.8rem)
 }
 100% {
  -webkit-transform:translateY(-1.8rem);
  -ms-transform:translateY(-1.8rem);
  transform:translateY(-1.8rem)
 }
}
@keyframes slideOutUp {
 0% {
  opacity:0;
  -webkit-transform:translateY(1.8rem);
  -ms-transform:translateY(1.8rem);
  transform:translateY(1.8rem)
 }
 100% {
  -webkit-transform:translateY(-1.8rem);
  -ms-transform:translateY(-1.8rem);
  transform:translateY(-1.8rem)
 }
}
.slideOutUp {
 animation:slideOutUp .8s;
 -webkit-animation:slideOutUp .8s;
 -o-animation:slideOutUp .8s
}
@keyframes scale {
 0% {
  opacity:1;
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
  margin-left:5px;
  margin-right:5px
 }
 100% {
  opacity:1;
  -moz-transform:scale(1.23);
  -webkit-transform:scale(1.23);
  -o-transform:scale(1.23);
  -ms-transform:scale(1.23);
  margin-left:34px;
  margin-right:34px
 }
}
.scale {
 animation:scale 1.4s;
 -webkit-animation:scale 1.4s;
 -o-animation:scale 1.4s;
 animation-fill-mode:forwards;
 -webkit-animation-fill-mode:forwards;
 -o-animation-fill-mode:forwards
}
@keyframes scaleSmall {
 0% {
  opacity:1;
  -moz-transform:scale(1.23);
  -webkit-transform:scale(1.23);
  -o-transform:scale(1.23);
  -ms-transform:scale(1.23);
  margin-left:34px;
  margin-right:34px
 }
 100% {
  opacity:1;
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
  margin-left:5px;
  margin-right:5px
 }
}
.scaleSmall {
 animation:scaleSmall 1.4s;
 -webkit-animation:scaleSmall 1.4s;
 -o-animation:scaleSmall 1.4s
}
.delay {
 transition:all .6s
}
@media screen and (min-width:1100px) and (max-width:1680px) {
 @keyframes scale {
  0% {
   opacity:1;
   -moz-transform:scale(1);
   -webkit-transform:scale(1);
   -o-transform:scale(1);
   -ms-transform:scale(1);
   margin-left:5px;
   margin-right:5px
  }
  100% {
   opacity:1;
   -moz-transform:scale(1.23);
   -webkit-transform:scale(1.23);
   -o-transform:scale(1.23);
   -ms-transform:scale(1.23);
   margin-left:26px;
   margin-right:26px
  }
 }
 .scale {
  animation:scale 1.4s;
  -webkit-animation:scale 1.4s;
  -o-animation:scale 1.4s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards
 }
 @keyframes scaleSmall {
  0% {
   opacity:1;
   -moz-transform:scale(1.23);
   -webkit-transform:scale(1.23);
   -o-transform:scale(1.23);
   -ms-transform:scale(1.23);
   margin-left:26px;
   margin-right:26px
  }
  100% {
   opacity:1;
   -moz-transform:scale(1);
   -webkit-transform:scale(1);
   -o-transform:scale(1);
   -ms-transform:scale(1);
   margin-left:5px;
   margin-right:5px
  }
 }
 .scaleSmall {
  animation:scaleSmall 1.4s;
  -webkit-animation:scaleSmall 1.4s;
  -o-animation:scaleSmall 1.4s
 }
}
