<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>海马管理员信息管理 - 海马官网</title>
		<link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
		<link rel="stylesheet" th:href="@{/css/commonn.css}" />
		<link rel="stylesheet" th:href="@{/css/base.css}" />
		<link rel="stylesheet" th:href="@{/css/pop.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" ></script>
		<script type="text/javascript" th:src="@{/js/account.js}" ></script>
        <script type="text/javascript">
            function updateMed(a){
                //可正常赋值
                $("#userid").attr("value",a);
            }
        </script>
	</head>

	<body>
	<div sec:authorize="hasRole('ROLE_ADMIN')"> <!-- 用户类型为ROLE_ADMIN 显示 -->
		<div th:include="common/header_xt" ></div>
	</div>

	<div class="wrap">
			<!--内容开始-->
			<div class="containermcompany">
				<div class="width-wrap white-bg add-border cl">
					<div class="title">
						<h3>管理员信息管理<a id="glygl" href="#" class="button7 green-button mb" style="text-decoration: none;float: right">添加</a></h3>
						
					</div>

                <!--筛选开始-->
                    <form action="/administrator/gldministrator" method="get">
                        <div class="form-wrap-5" id="divCompanyInfo">
                            <div class=" control-row">
                    <div class="control-label">
                        管理员名称：
                    </div>
                    <div class="control-input control-text  relative1">
                        <input type="text" placeholder="管理员名称" name="username" class=" input-text input-text-long1 left-wrap input-company-name">
                    </div>
                </div>
                <div class=" control-row">
                    <div class="control-label">
                        管理员类型：
                    </div>
                    <div class="control-input control-text  relative1">
                        <select name="glyLx" class="input-text input-text-long1 left-wrap">
                            <option value="">请选择</option>
                            <option value="4">采购管理员</option>
                            <option value="3">采购审批管理员</option>
                            <option value="5">医用品管理员</option>
                        </select>
                    </div>
			</div>
					</div>
					<div align="center">
						<input type="reset" class="button2 mb" value="重置"/>
						<input type="submit" class="button green-button mb" value="查询"/>
					</div>
					
                </form>
                
				<div class=" split-line mt mb"></div>
                <!--筛选结束-->
                <!--列表开始-->
                <div class="table-list sz14">
                    <table class="table-fixed" width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="align-center" width="60">管理员ID</th>
                            <th class="align-center" width="90">管理员名称</th>
                            <th class="align-center" width="60">密码</th>
                            <th class="align-center" width="75" >管理员类型</th>
                            <th class="align-center" width="120">操作</th>
                        </tr>
                        </thead>
                        <tbody class="recordLists">

                        <tr th:each="SysUser : ${jq.rows}">
					        <td class="align-center" th:text="${SysUser.id}"></td>
					        <td class="align-center relative"  th:text="${SysUser.username}"></td>
					        <td class="align-center font-pro relative" th:text="${SysUser.password}"></td>
                            <div th:if="${SysUser.glylx} == 3">
                                <td class="align-center" >采购审批管理员</td>
                            </div>
                            <div th:if="${SysUser.glylx} == 4">
                                <td class="align-center" >采购管理员</td>
                            </div>
                            <div th:if="${SysUser.glylx} == 5">
                                <td class="align-center" >医用品管理员</td>
                            </div>
                            <td class="align-center">
                                <input id="glyxg"  type="button" class="tjyyp1 button2 mb" th:onclick="'javascript:updateMed(\''+${SysUser.id}+'\');'"  value="修改" />
                                <!--th:onclick="'javascript:updateMed(\''+${MedicalInformation.id}+'\');'"-->
                                <a  class="button mb" onclick="return confirm('您确定要删除吗？')" th:href="@{'/deleteGly/'+${SysUser.id}}">删除</a>
                            </td>
					    </tr>
					    </tbody>
					</table>
				        </div>
				        <!--列表结束-->
					<!--翻页开始-->
					<div class=" split-line mt mb"></div>
					<div style="text-align:center;font-size: 15px">
						<label>第<span th:text="${jq.p}"></span>/<span th:text="${jq.totolPage}"></span>页   共<span th:text="${jq.total}"></span>条</label>
						<a th:href="@{/administrator/gldministrator(p = 1,username=${username},glyLx=${glyLx})}" type="button" role=button class="button green-button mb">首页</a>
						<a th:if="${jq.p > 1}" th:href="@{/administrator/gldministrator(p=${jq.p - 1},username=${username},glyLx=${glyLx})}"  type="button" role=button class="button green-button mb">上一页</a>
						<a th:if="${jq.p <= 1}" class="button green-button mb">上一页</a>
						<a th:if="${jq.p != jq.totolPage}"  type="button" class="button green-button mb">下一页</a>
						<a th:if="${jq.p == jq.totolPage}" th:href="@{/administrator/gldministrator(p=${jq.p + 1},username=${username},glyLx=${glyLx})}"  type="button" role=button class="button green-button mb">下一页</a>

						<a th:href="@{/administrator/gldministrator(p=${jq.totolPage},username=${username},glyLx=${glyLx})}" type="button" role=button class="button green-button mb">尾页</a>

					</div>
					<!--翻页结束-->
				    </div>
					<!--右侧内容结束-->


				</div>
			</div>
        <div th:include="common/footer" ></div>

        <div class="pop-wrap" id="pop-wrap6" style="display:none;opacity: 1; width: 1000px; top: 26.5px; left: 200px;" >
            <div class="pop-title">
                <a href="javascript:void(0);" class="right-wrap" id="right-wrap6">
                    <i class="common-icon close-icon"></i>
                </a>
                <h3>管理员管理</h3>
            </div>
            <div class="pop-pay">
                <form method="post" action="/addAndUpdateGly">
                    <input id="userid" type="text" placeholder="glyid" name="id"  value="" style="display:none">
                    <div class=" control-row">
                        <div class="control-label">
                            管理员名称：
                        </div>
                        <div class="control-input control-text  relative1">
                            <input type="text" placeholder="管理员名称" name="username" class=" input-text input-text-long1 left-wrap input-company-name">
                        </div>
                    </div>

                    <div class=" control-row">
                        <div class="control-label control-label-width">
                            管理员密码：
                        </div>
                        <div class="control-input select-small control-text lh40 relative1 cl">
                            <input type="text" placeholder="管理员密码" name="password" class=" input-text input-text-long1 left-wrap input-company-name">
                        </div>
                    </div>
                    <div class=" control-row">
                        <div class="control-label">
                            管理员类型：
                        </div>
                        <div class="control-input control-text  relative1">
                            <select name="glylx" class="input-text input-text-long1 left-wrap"> <!--0草稿  1已删除  2已提交（待审批）  3审批通过   4审批不通过-->
                                <option value="">请选择</option>
                                <option value="4">采购管理员</option>
                                <option value="3">采购审批管理员</option>
                                <option value="5">医用品管理员</option>
                            </select>
                        </div>
                    </div>
                    <div align="center">
                        <input type="submit" class="button green-button mb" value="保存"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="pop-mask" style="display: none;width: 1349px; height: 1796px; opacity: 0.5;"></div>
	</body>
		<script type="text/javascript" th:src="@{/js/core.js}"></script>
</html>