<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>海马采购发布管理 - 海马官网</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<link rel="stylesheet" th:href="@{/css/commonn.css}" />
		<link rel="stylesheet" th:href="@{/css/base.css}" />
		<link rel="stylesheet" th:href="@{/css/pop.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" ></script>
		<script type="text/javascript" th:src="@{/js/account.js}" ></script>
        <script type="text/javascript">
            function updateMed(a){
                //可正常赋值
                $("#yid").attr("value",a);
            }
        </script>
	</head>

	<body>
        <div sec:authorize="hasRole('ROLE_ADMIN')"> <!-- 用户类型为ROLE_ADMIN 显示 -->
            <div th:include="common/header_xt" ></div>
        </div>
        <div sec:authorize="hasRole('ROLE_CGGLY')"> <!-- 用户类型为ROLE_CGGLY 显示 -->
            <div th:include="common/header_cx" ></div>
        </div>
		<div class="wrap">
			<!--内容开始-->
			<div class="containermcompany">
				<div class="width-wrap white-bg add-border cl">
					<div class="title">
						<h3>采购发布管理<a id="tjcgxx" href="#" class="button7 green-button mb" style="text-decoration: none;float: right">添加</a></h3>
					</div>
			<!--筛选开始-->
                <form method="get" action="/administrator/procurement">
					<div class="form-wrap-5" id="divCompanyInfo">
						<div class=" control-row">
							<div class="control-label">
                                医用耗材名称
							</div>
							<div class="control-input control-text  relative1">
								<input type="text" placeholder="医用耗材名称" name="name" class=" input-text input-text-long1 left-wrap input-company-name">
							</div>
						</div>
						<div class=" control-row">
							<div class="control-label">
								交付时间
							</div>
							<div class="control-input control-text  relative1">
								<input type="text" placeholder="交付时间" name="delivery_time" class=" input-text input-text-long1 left-wrap input-company-name">
							</div>
						</div>
						<div class=" control-row">
							<div class="control-label">
								发布状态
							</div>
							<div class="control-input control-text  relative1">
					            <select name="status" class="input-text input-text-long1 left-wrap"> <!--0草稿  1已删除  2已提交（待审批）  3审批通过   4审批不通过-->
									<option value="">请选择</option>
                                    <option value="1">草稿</option>
                                    <option value="2">已删除</option>
									<option value="3">已发布</option>
									<option value="4">已失效</option>
								</select> 
							</div>
						</div>
					</div>
					<div align="center">
						<input type="reset" class="button2 mb" value="重置"/>
				    	<input type="submit" class="button green-button mb" value="查询"/>
					</div>
					
                </form>
                
				<div class=" split-line mt mb"></div>
                <!--筛选结束-->
                <!--列表开始-->
                <div class="table-list sz14">
                    <table class="table-fixed" width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr >
                                <th class="align-center" width="60">编号ID</th>
                                <th class="align-center" width="90">医用耗材名称</th>
                                <th class="align-center" width="100">医用耗材类型</th>
                                <th class="align-center" width="60">发布价格</th>
                                <th class="align-center" width="60">采购数量</th>
                                <th class="align-center" width="60">发布状态</th>
                                <th class="align-center" width="50">操作人</th>
                                <th class="align-center" width="100">交付时间</th>
                                <th class="align-center" width="120">操作</th>
                            </tr>
                        </thead>
                        <tbody class="recordLists">
                            <tr class="drdc" th:each="CustomMedicasupplies : ${jq.rows}">
                                <td class="align-center" th:text="${CustomMedicasupplies.id}">111</td>
                                <td class="align-center relative"th:text="${CustomMedicasupplies.name}" ></td>
                                <td class="align-center font-pro relative" th:text="${CustomMedicasupplies.meinfo_status}"></td>
                                <td class="align-center font-pro relative" th:text="${CustomMedicasupplies.rel_quotation}"></td>
                                <td class="align-centert" th:text="${CustomMedicasupplies.number}"></td>
                                <div th:if="${CustomMedicasupplies.medic_status} == 1">
                                    <td class="align-center" >草稿</td>
                                </div>
                                <div th:if="${CustomMedicasupplies.medic_status} == 2">
                                    <td class="align-center" >已删除</td>
                                </div>
                                <div th:if="${CustomMedicasupplies.medic_status} == 3">
                                    <td class="align-center" >已发布</td>
                                </div>
                                <div th:if="${CustomMedicasupplies.medic_status} == 4">
                                    <td class="align-center" >已失效</td>
                                </div>
                                <td class="align-centert" th:text="${CustomMedicasupplies.user_id}"></td>
                                <td class="align-center" th:text="${CustomMedicasupplies.delivery_time}"></td>
                                <div th:if="${CustomMedicasupplies.medic_status} == 1">
                                    <td class="align-center">
                                        <input th:onclick="'javascript:updateMed(\''+${CustomMedicasupplies.id}+'\');'"  type="button" class="xgcgxx button2 mb" value="修改" />
                                        <a class="button mb" onclick="return confirm('您确定要删除吗？')" th:href="@{'/deletemedicalsupplies/'+${CustomMedicasupplies.id}}" >删除</a>
                                    </td>
                                </div>
                                <div th:if="${CustomMedicasupplies.medic_status} == 2">
                                    <td class="align-center">--</td>
                                </div>
                                <div th:if="${CustomMedicasupplies.medic_status} == 3">
                                    <td class="align-center">
                                        <a class="button mb" onclick="return confirm('您确定要下线吗？')" th:href="@{'/updateStatus/'+${CustomMedicasupplies.id}}" >删除</a>
                                    </td>

                                </div>
                                <div th:if="${CustomMedicasupplies.medic_status} == 4">
                                    <td class="align-center">--</td>
                                </div>
                            </tr>
					    </tbody>
					</table>
				        </div>
				        <!--列表结束-->
                    <!--翻页开始-->
                    <div class=" split-line mt mb"></div>
                    <div style="text-align:center;font-size: 15px">
                        <label>第<span th:text="${jq.p}"></span>/<span th:text="${jq.totolPage}"></span>页   共<span th:text="${jq.total}"></span>条</label>
                        <a th:href="@{/administrator/procurement(p = 1,delivery_time=${delivery_time},name=${name},status=${status})}" type="button" role=button class="button green-button mb">首页</a>
                        <a th:if="${jq.p > 1}" th:href="@{/administrator/procurement(p=${jq.p - 1},delivery_time=${delivery_time},name=${name},status=${status})}"  type="button" role=button class="button green-button mb">上一页</a>
                        <a th:if="${jq.p <= 1}" class="button green-button mb">上一页</a>
                        <a th:if="${jq.p < jq.pageSize}" th:href="@{/administrator/procurement(p=${jq.p + 1},delivery_time=${delivery_time},name=${name},status=${status})}"  type="button" role=button class="button green-button mb">下一页</a>
                        <a th:if="${jq.p = jq.pageSize}"  type="button" class="button green-button mb">下一页</a>
                        <a th:href="@{/administrator/procurement(p=${jq.totolPage},delivery_time=${delivery_time},name=${name},status=${status})}" type="button" role=button class="button green-button mb">尾页</a>
                        <form action="/administrator/procurement" method="get" style="margin:0px;display:inline;">
                            跳转到: <input type="text" style="width: 30px" name="p" />页
                            <!--(user_id=${user_id},name=${name},status=${status})-->
                            <input type="hidden"  name="name" th:value="${name}"/>
                            <input type="hidden"  name="user_id" th:value="${delivery_time}"/>
                            <input type="hidden"  name="status" th:value="${status}"/>
                            <input type="submit" value="跳转" class="button green-button mb"/>
                        </form>
                    </div>
                    <!--翻页结束-->
				    </div>
					<!--右侧内容结束-->


				</div>
			</div>
			
<div class="pop-wrap" id="pop-wrap5" style="display:none;opacity: 1; width: 1000px; top: 26.5px; left: 200px;" >
	<div class="pop-title">
		<a href="javascript:void(0);" class="right-wrap" id="right-wrap5">
			<i class="common-icon close-icon"></i>
		</a>
		<h3>采购发布信息管理</h3>
	</div>
	<div class="pop-pay">
		<form method="post" action="/addOrupdatemedical">
            <input id="yid"  type="text" placeholder="医用品名称" name="id" value="" style="display:none">
			<div class=" control-row">
				<div class="control-label">
					医用耗材名称
				</div>
				<div class="control-input control-text  relative1">
					<select onclick="fillShijuanming()" id="selectSM" name="name" class="input-text input-text-long1 left-wrap"> <!--0草稿  1已删除  2已提交（待审批）  3审批通过   4审批不通过-->
						<option value="">请选择</option>
                        <option th:selected="${sjm.name  eq sjm.name}"
                                th:each="sjm : ${sjm}"
                                th:value="${sjm.name}" th:text="${sjm.name}">
                        </option>
					</select>

				</div>
			</div>
			<div class="control-row">
				<div class="control-label">
					发布价格：
				</div>
				<div class="control-input control-text  relative1">
					<input type="text" placeholder="发布价格" name="rel_quotation" class=" input-text input-text-long1 left-wrap input-company-name">
				</div>
			</div>
			<div class=" control-row">
				<div class="control-label control-label-width">
					采购数量：
				</div>
				<div class="control-input select-small control-text lh40 relative1 cl">
					<input type="text" placeholder="采购数量" name="number" class=" input-text input-text-long1 left-wrap input-company-name">
				</div>
			</div>
			<div class=" control-row">
				<div class="control-label control-label-width">
					交付时间：
				</div>
				<div class="control-input select-small control-text lh40 relative1 cl">
					<input type="text" placeholder="采购数量" name="delivery_time" class=" input-text input-text-long1 left-wrap input-company-name">
				</div>
			</div>
			<div align="center">
				<input type="submit" class="button green-button mb" value="保存"/>
			</div>
		</form>
	</div>
</div>
<div class="pop-mask" style="display: none;width: 1349px; height: 1796px; opacity: 0.5;"></div>
	</body>
		<script type="text/javascript" th:src="@{/js/core.js}"></script>
</html>