<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>海马供应商信息管理 - 海马官网</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<link rel="stylesheet" th:href="@{css/commonn.css}" />
		<link rel="stylesheet" th:href="@{css/base.css}" />
		<link rel="stylesheet" th:href="@{css/pop.css}" />
		<script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}" ></script>
		<script type="text/javascript" th:src="@{js/account.js}" ></script>

	</head>

	<body>
		
		<div class="wrap">
			<!--内容开始-->
			<div class="containermcompany">
				<div class="width-wrap white-bg add-border cl">
					<div class="title">
						<h3>供应商信息管理</h3>
						
					</div>

			<!--筛选开始-->
                <form>
					<div class="form-wrap-5" id="divCompanyInfo">
						<div class=" control-row">
				<div class="control-label">
					供应商名称：
				</div>
				<div class="control-input control-text  relative1">
					<input type="text" placeholder="供应商名称" name="companyName" class=" input-text input-text-long1 left-wrap input-company-name">
				</div>
				
			</div>

					</div>
					<div align="center">
						<input type="button" class="button2 mb" value="重置"/>
					<input type="button" class="button green-button mb" value="查询"/>
					</div>
					
                </form>
                
				<div class=" split-line mt mb"></div>
                <!--筛选结束-->
                <!--列表开始-->
                <div class="table-list sz14">
                    <table class="table-fixed" width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                        <tr>
                            <th class="align-center" width="90">企业名称</th>
                            <th class="align-center" width="120">统一社会信用代码</th>
                            <th class="align-center" width="100">组织机构代码</th>
                            <th class="align-center" width="55">法人名称</th>
                            <th class="align-center" width="55" >企业联系人</th>
                            <th class="align-center" width="80">企业联系人手机号</th>
                            <th class="align-center" width="150" >详细地址</th>
                            <th class="align-center" width="30" >操作</th>
                        </tr>
                        </thead>
                        <tbody class="recordLists">
    
					    <tr class="drdc">
					       
					        
					        <td class="align-center">XXX有限公司</td>
					        <td class="align-center relative">
					            <em class="fs1">123456789012345678</em>
					        </td>
					        <td class="align-center font-pro relative">
					            <em class="fs4 sz14">123456789012345</em>
					        </td>
					        <td class="align-center">
					        	<em class="fs2 font-pro">周航</em>
					        </td>
					        <td class="align-center">
					        	<em class="fs2 font-pro">刘鹤松</em>
					        </td>
					        <td class="align-center">
					        	<em class="fs2 font-pro">13089213913</em>
					        </td>
					        <td class="align-center">
					        	<em class="fs2 font-pro">刘鹤松</em>
					        </td>
					        <td class="align-center">
					        	
					         	<input type="button" class="button mb" value="删除" />			            
					            	
					        </td>
					    </tr>
					    </tbody>
					</table>
				        </div>
				        <!--列表结束-->
				        <!--翻页开始-->
				        <div class="paging-box">
				        	<div class="paging align-right sz14">
				        		<a class="ky_pre_page" href="javascript:void(0);">
				        			<i class="common-icon-New pre-icon"></i>
				        		</a>
				        	<a href="javascript:void(0);" class="a">1</a>
				        	<a href="javascript:void(0);">2</a>
				        	<a href="javascript:void(0);">3</a>
				        	<a href="javascript:void(0);">4</a>
				        	<a href="javascript:void(0);">5</a>
				        	<span>...</span>
				        	<a href="javascript:void(0);">8</a>
				        	<a href="javascript:void(0);">9</a>
				        	<a href="#" class="ky_next_page delmr">
				        		<i class="common-icon-New pre-icon flipx"></i>
				        	</a>
				        	</div>
				        </div>
				        <!--翻页结束-->
				    </div>
					<!--右侧内容结束-->


				</div>
			</div>
			
	</body>
		<script type="text/javascript" th:src="@{js/core.js}"></script>
</html>