<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>企业信息修改</title>
		<link rel="stylesheet" th:href="@{/css/commonn.css}" />
		<link rel="stylesheet" th:href="@{/css/pop.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" ></script>
		<script type="text/javascript" th:src="@{/js/account.js}" ></script>
        <script>
            var value=document.getElementById("nameuser").value;
            document.getElementById("name2").value=value;
        </script>
	</head>

	<body>
		<div sec:authorize="hasRole('ROLE_USER')"> <!-- 用户类型为ROLE_USER 显示 -->
			<div th:include="common/header_gys" ></div>
		</div>
		<div id="container" class="containermcompany">
			<div class="width-wrap">
				<div class="content cl">
					<!--左侧导航开始-->
					<div id="left-nav" class="left-wrap">
						<!--左侧导航开始-->
						<ul class="drdc">
							<li>
								<a th:href="@{/usermanagement/account}">账户总览</a>
							</li>
							<li class="left-nav-line"></li>
							<li>
								<a th:href="@{/usermanagement/purchasingrecords}">采购申请记录</a>
							</li>
							<li class="left-nav-line"></li>
							<li>
								<a class="a"  th:href="@{/usermanagement/informationchanges}">企业信息修改</a>
							</li>
							
							<li class="left-nav-line"></li>
							<li class="left-nav-line"></li>
							<li class="left-nav-line"></li>
						</ul>
						<!--左侧导航结束-->
					</div>
					<!--左侧导航结束-->
					<!--右侧内容开始-->
					<div id="right-content1" class="right-wrap">
						<div id="securitySetting" class=" white-bg add-border">
							<div class="title cl">
								<h3 class="left-wrap">账户信息</h3>
							</div>
							<div class="pt20 pb">
								<ul class="accounr-list">
									<li id="realNameContainer" class="cl add">
										<i class="account-icon real-icon aq-icon add-real-icon-hover"></i>
										<span class="aq">用户基本信息</span>
										<span class="aq1">申请采购前必须进行实名认证，账户更安全</span>
										<span class="aq2 relative">
										<a id="releaseYongHuBtn" href="#" class="sz14 fs5  pl20 mr">用户基本信息管理</a>
										</span>
									</li>
									
									<li id="phoneNumContainer" class="cl add">
										<i class="account-icon iphone-icon aq-icon add-iphone-icon-hover"></i>
										<span class="aq">手机号码</span>
										<span class="aq1">企业联系人手机号码,用于重置登录密码</span>
										<span class="aq2">
	                                    <em id="telNum" class="fs2 font-pro"><span th:text="${supplieDetails.bu_contact_phone}"></span></em>
	                                </span>
									</li>
									<li id="loginPwdContainer" class="cl add">
										<i class="account-icon password-icon aq-icon add-password-icon-hover"></i>
										<span class="aq">登录密码</span>
										<span class="sz14 fs2 aq1">安全性高的密码可以使账号更安全，建议您定期更换密码</span>
										<span class="aq2  relative">
	                                    <a th:href="@{/usermanagement/resetpassword}"  class="sz14 fs5 pl20">重置</a>
	                                </span>
									</li>
									<li id="bankCardContainer" class="cl add">
										<i class="account-icon bank-icon aq-icon add-bank-icon-hover"></i>
										<span class="aq">银行卡</span>
										<span class="aq1">用于体现银行对公信息</span>
										<span class="aq2 relative">
											<span class="fs2"><span th:text="${supplieDetails.bank}"></span> <span th:text="${supplieDetails.bank_number}"></span></span>
										<span class="pipe">|</span>
										<a id="releaseBankCardBtn" href="javascript:void(0)" class="sz14 fs5  pl20 mr">管理对公银行卡信息</a>
										</span>
									</li>
									
								</ul>
							</div>
						</div>
					</div>
					<!--右侧内容结束-->
				</div>
			</div>
		</div>

        <div th:include="common/footer" ></div>

<div class="pop-wrap" id="pop-wrap2" style="display:none;opacity: 1; width: 1000px; top: 26.5px; left: 200px;" >
	<div class="pop-title">
		<a href="javascript:void(0);" class="right-wrap" id="right-wrap2">
			<i class="common-icon close-icon"></i>
		</a>
		<h3>用户基本信息修改</h3>
	</div>
	<div class="pop-pay">
		<form action="/updateSupplieDetails" method="post">
			<div class=" control-row">
				<div class="control-label control-label-width">
					供应商名称：
				</div>
				<div class="control-input select-small control-text lh40 relative1 cl">
					<input th:value="${supplieDetails.companyName}"  type="text" placeholder="供应商名称" name="companyName" class=" input-text input-text-long1 left-wrap input-company-name">
				</div>
			</div>
			<div class=" control-row">
				<div class="control-label control-label-width">
					详细地址：
				</div>
				<div class="control-input select-small control-text lh40 relative1 cl">
					<input th:value="${supplieDetails.address}" type="text" placeholder="详细地址" name="address" class=" input-text input-text-long1 left-wrap input-company-name">
				</div>
			</div>
			<div align="center">
				<input type="submit" class="button green-button mb" value="保存"/>
			</div>
		</form>
	</div>
</div>

<div class="pop-wrap" id="pop-wrap3" style="display:none;opacity: 1; width: 1000px; top: 26.5px; left: 200px;" >
	<div class="pop-title">
		<a href="javascript:void(0);" class="right-wrap" id="right-wrap3">
			<i class="common-icon close-icon"></i>
		</a>
		<h3>对公银行卡信息管理</h3>
	</div>
	<div class="pop-pay">
		<form  action="/updateSupplieDetails" method="post">
			<div class=" control-row">
				<div class="control-label">
					开户行：
				</div>
				<div class="control-input control-text  relative1">
					<input th:value="${supplieDetails.bank}" type="text" placeholder="开户行" name="bank" class=" input-text input-text-long1 left-wrap input-company-name">
				</div>
				
			</div>
			<div class=" control-row">
				<div class="control-label control-label-width">
					银行对公账号：
				</div>
				<div class="control-input select-small control-text lh40 relative1 cl">
					<input th:value="${supplieDetails.bank_number}" type="text" placeholder="银行对公账号" name="bank_number" class=" input-text input-text-long1 left-wrap input-company-name">
				</div>
			</div>
			<div align="center">
				<input type="submit" class="button green-button mb" value="保存"/>
			</div>
		</form>
	</div>
</div>

<div class="pop-mask" style="display: none;width: 1349px; height: 1796px; opacity: 0.5;"></div>
	</body>
	<script type="text/javascript" th:src="@{/js/core.js}" ></script>
</html>