<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>重置密码</title>
		<link rel="stylesheet" th:href="@{/css/commonn.css}" />
		<link rel="stylesheet" th:href="@{/css/pop.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" ></script>
		<script type="text/javascript" th:src="@{/js/account.js}" ></script>
	</head>
	<body>
        <div sec:authorize="isAnonymous()">
            <div th:include="common/header_gys" ></div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div sec:authorize="hasRole('ROLE_USER')"> <!-- 用户类型为ROLE_USER 显示 -->
                <div th:include="common/header_gys" ></div>
            </div>
        </div>
		<div class="wrap">
			<div id="container" class="container">
			    <div class="width-wrap white-bg add-border cl">
			        <div class="title">
			            <h3>重置登录密码</h3>
			        </div>
			        <div>
			        	<form id="telnumAndCertForm" autocomplete="off" method="post" action="/updatePassword" novalidate="novalidate">

						    <div class="right-wrap right-progess">
						        <div class="pa30">
						            <div class="tied-bank-remit fs1 sz14 lh30">
						                <p><i class=" account-icon circle-icon mr"></i>提示：为了保证您的账户安全，建议您至少三个月更换一次密码。
						                </p>
						            </div>
						        </div>

						        <div class="form-wrap mt">
                                    <div class="control-row cl">
                                        <div class="control-label">用户名</div>

                                        <div class="control-input control-text relative cl">
                                            <input type="text" name="username" data-rule-required="true"  placeholder="请输入用户名" class=" input-text input-text-long left-wrap" />
                                        </div>

                                    </div>
                                        <div class="control-row cl">
                                            <div class="control-label">手机号码</div>
                                            <!--<div class=" control-input control-text">-->
                                                <!--<em class="sz18 font-pro ">130****3913</em>-->
                                            <!--</div>-->
                                            <div class="control-input control-text relative cl">
                                                <input type="text" id="phone1"  name="bu_contact_phone" data-rule-required="true"  placeholder="请输入企业联系人手机号" class=" input-text input-text-long left-wrap" />
                                            </div>

                                        </div>

                                        <div id="codeCon" class=" control-row">
                                            <div class="control-label">手机验证码</div>
                                            <div class="control-input control-text relative cl">
                                                <input id="phoneCode" name="phoneCode" type="text" data-rule-required="true"  placeholder="请输入手机验证码" class=" input-text input-text-small left-wrap" aria-required="true">
                                                <input id="btnSendCode1" type="button" class="input-text left-wrap" value="获取验证码" onClick="sendMessage1()" />
                                            </div>
                                        </div>

                                        <div class=" control-row ">
                                            <div class="control-label">新登录密码</div>
                                            <div class="control-input control-text relative cl">
                                                <input type="password"  id="newPwd" name="password" data-rule-required="true"  placeholder="请输入新登录密码" class=" input-text input-text-long left-wrap" />

                                            </div>

                                        </div>
						            <div class="control-row cl">
						                <div class=" control-input control-text drdc">
						                    <input type="submit" class="button button_h46" value="确定">
						                </div>
						            </div>
						        </div>
                            </div>
			            </form>
			    	</div>     
				</div>
			</div>
		</div>

        <div th:include="common/footer" ></div>
	</body>
	<script type="text/javascript" th:src="@{/js/core.js}" ></script>
	<script type="text/javascript">
        var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;//手机号正则
        var count = 60; //间隔函数，1秒执行
        var InterValObj1; //timer变量，控制时间
        var curCount1;//当前剩余秒数
        /*第一*/
        function sendMessage1() {
            curCount1 = count;
            var phone = $.trim($('#phone1').val());
            if (!phoneReg.test(phone)) {
                alert(" 请输入有效的手机号码");
                return false;
            }
            //设置button效果，开始计时
            $("#btnSendCode1").attr("disabled", "true");
            $("#btnSendCode1").val( + curCount1 + "秒再获取");
            InterValObj1 = window.setInterval(SetRemainTime1, 1000); //启动计时器，1秒执行一次
            //向后台发送处理数据

        }
        function SetRemainTime1() {
            if (curCount1 == 0) {
                window.clearInterval(InterValObj1);//停止计时器
                $("#btnSendCode1").removeAttr("disabled");//启用按钮
                $("#btnSendCode1").val("重新发送");
            }
            else {
                curCount1--;
                $("#btnSendCode1").val( + curCount1 + "秒再获取");
            }
        }

	</script>
</html>
