<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta charset="UTF-8">
		<title>海马供应商申请 - 海马官网</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<link rel="stylesheet" th:href="@{css/commonn.css}" />
		<link rel="stylesheet" th:href="@{css/base.css}" />
		<script type="text/javascript" th:src="@{js/jquery-3.2.1.min.js}"></script>

	</head>

	<body>
        <div sec:authorize="hasRole('ROLE_USER')"> <!-- 用户类型为ROLE_USER 显示 -->
            <div th:include="common/header_gys" ></div>
        </div>
        <div sec:authorize="isAnonymous()"> <!-- 用户类型为ROLE_USER 显示 -->
            <div th:include="common/header_gys" ></div>
        </div>
		<div class="wrap">
			<!--内容开始-->
			<div class="containermcompany">
				<div class="width-wrap white-bg add-border cl">
					<div class="title">
						<h3>供应商申请信息</h3>
					</div>
				<div class=" split-line mt mb"></div>

                    <form id="formCompany"  method="post" action="/addPurApp" autocomplete="off" novalidate="novalidate">
                        <input type="hidden" name="mesu_id" th:value="${CustomMedicasupplies.id}">
                        <div class="enterprise-real">
                            <div class="form-wrap-1" id="divCompanyInfo">
                                <div class=" control-row">
                                    <div class="control-label">
                                        医用耗材名称
                                    </div>
                                    <div class="control-input control-text  relative">
                                        <input readonly="true" type="text"  class=" input-text input-text-long left-wrap input-company-name" th:value="${CustomMedicasupplies.name}">
                                    </div>
                                </div>
                                <div class=" control-row">
                                    <div class="control-label control-label-width">
                                        类型
                                    </div>
                                    <div class="control-input select-small control-text lh40 relative cl">
                                        <input type="text"  readonly="true" th:value="${CustomMedicasupplies.meinfo_status}" class=" input-text input-text-long left-wrap input-company-name">
                                    </div>
                                </div>
                                <div class=" control-row">
                                    <div class="control-label">
                                        发布价格
                                    </div>
                                    <div class="control-input control-text  relative">
                                        <input type="text" readonly="true" th:value="${CustomMedicasupplies.rel_quotation}" class=" input-text input-text-long left-wrap">
                                    </div>
                                </div>
                                <div class=" control-row">
                                    <div class="control-label">
                                        采购数量
                                    </div>
                                    <div class="control-input control-text  relative">
                                        <input type="text" readonly="true" th:value="${CustomMedicasupplies.number}" class=" input-text input-text-long left-wrap input-name" maxlength="16">
                                    </div>
                                </div>
                                <div class=" control-row">
                                    <div class="control-label">
                                        交付截止时间
                                    </div>
                                    <div class="control-input control-text  relative">
                                        <input type="text" readonly="true" th:value="${CustomMedicasupplies.delivery_time}"  class=" input-text input-text-long left-wrap input-id" maxlength="18">
                                        <div class="expand font-pro hide"></div>
                                    </div>
                                    <div class="div-bank-card-large-tip"></div>
                                </div>
                                <div class=" control-row">
                                    <div class="control-label">
                                        供应商报价
                                    </div>
                                    <div class="control-input control-text  relative">
                                        <input type="text"  placeholder="供应商报价" name="gysmoney" class=" input-text input-text-long left-wrap" maxlength="16">
                                    </div>
                                </div>

                            <div class="form-wrap-1">
                                <div class="control-row cl">
                                    <div class=" control-input control-text drdc">
                                        <input id="btnSubmit" type="submit" class="button button_h46" value="保存">
                                    </div>
                                </div>

                            </div>
                        </div>
                        </div>
                    </form>


                </div>
			</div>
		</div>


		<div th:include="common/footer" ></div>
	</body>
		<script type="text/javascript" th:src="@{js/core.js}"></script>
</html>