<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta content="text/html;charset=UTF-8"/>
<title></title>
    <link th:href="@{/css/commonn.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/base.css}" rel="stylesheet" type="text/css">

</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')"> <!-- 用户类型为ROLE_ADMIN 显示 -->
    <div th:include="common/header_xt" ></div>
</div>

<div sec:authorize="hasRole('ROLE_USER')"> <!-- 用户类型为ROLE_USER 显示 -->
    <div th:include="common/header_gys" ></div>
</div>
<div sec:authorize="hasRole('ROLE_SPGLY')"> <!-- 用户类型为ROLE_SPGLY 显示 -->
<div th:include="common/header_sp" ></div>
</div>
<div sec:authorize="hasRole('ROLE_CGGLY')"> <!-- 用户类型为ROLE_CGGLY 显示 -->
<div th:include="common/header_cx" ></div>
</div>
<div sec:authorize="hasRole('ROLE_YYPGLY')"> <!-- 用户类型为ROLE_YYPGLY 显示 -->
<div th:include="common/header_yyp" ></div>
</div>
    
	
</body>
</html>
