<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title>合规运营 - 海马医疗耗材采购官网</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		<link rel="stylesheet" type="text/css" href="css/heigui/animation.css">
		<link rel="stylesheet" type="text/css" href="css/heigui/base.css" />
		<link rel="stylesheet" type="text/css" href="css/heigui/development.css" />
	</head>
	<body>
		
		<div class="wrap" headerNum="4">
			<div class="developmentBg">
				<div id="developmentTop" class="developmentTop width-wrap">
					<i class="yearText font-DIN">2019</i>
					<img src="img/2017.png" />
					<p>实缴注册资本增至25亿</p>
				</div>
				<div class="yearList width-wrap cl"  >
					<ul>
						<li>
							<i class="developStrength"></i>
						</li>
						<span style="margin-left:35px;"></span>
						<span style="margin-left:35px;"></span>
						<span style="margin-left:35px;"></span>
						<span style="margin-left:30px;"></span>
						<span style="margin-left:30px;"></span>
						<span style="margin-left:30px;"></span>
						<span style="margin-left:30px;"></span>
						<li class="font-DIN a" year="2018">
							<a style="cursor:default">2019</a>
						</li>
						<span></span>
						<span style="margin-left:35px;"></span>
						<span style="margin-left:35px;"></span>
						<span style="margin-left:35px;"></span>
						<span style="margin-left:35px;"></span>
						<span style="margin-left:35px;"></span>
						<li>
							<i class="developCompliance"></i>
						</li>
					</ul>
				</div>
				<div class="yearContent ">
					<div id="develop_2016" type="yearDiv" class="">
						<div class="width-wrap cl">
							<div class="yearBlock2 left-wrap wow fadeInUp" data-wow-delay=".5s">
								<div class=" developApp">
									<i class="font-DIN">Charity</i>
									<h3>公益行动</h3>
									<span></span>
									<p><i class="spot-icon">•</i>“海马公益”携手中国小动物保护协会（CSAPA）<br/>共同发起“暖舍无寒”公益行动</p>
									<p><i class="spot-icon">•</i>海马冠名，联合石家庄希尔顿酒店主办<br/>“海马杯”第3届公益垂直马拉松比赛</p>
								</div>
							</div>
							<div class="yearBlock2 left-wrap wow fadeInUp" data-wow-delay=".5s">
								<div class=" developData" style="margin-left: 756px;margin-top: -277px;">
									<i class="font-DIN">Data</i>
									<p class="scaleText">海马采购累计交易额突破</p>
									<h4><em class="font-DIN">2,000,000,000.00</em>/元</h4>
									<span></span>
									<p class="scaleText">海马采购资产管理规模突破</p>
									<h4><em class="font-DIN">4,500,000,000.00</em>/元</h4>
								</div>
							</div>
							<div class="yearBlock2 left-wrap wow fadeInUp" data-wow-delay=".5s">
								<div class="developCertificate" style="margin-top: -8px;">
									<i class="font-DIN">Certificate</i>
									<h3>获得机构认证</h3>
									<h4>实力有保证</h4>
									<span></span>
									<p><i class="spot-icon">•</i>海马获得ICP增值电信业务经营许可证</p>
								</div>
							</div>
							<div class="yearBlock2 left-wrap wow fadeInUp" data-wow-delay=".5s">
								<div class="developDialogue" style="margin-top: -79px;">
									<i class="font-DIN">Dialogue</i>
									<h3>积极参与行业交流</h3>
									<h4>海马对话行业媒体</h4>
									<span></span>
									<p><i class="spot-icon">•</i>清华-麻省理工ChinaLab携手海马践行产学结合</p>
									<p><i class="spot-icon">•</i>受邀参加全球顶级金融峰会LendIt USA</p>
									<p><i class="spot-icon">•</i>Lendit中国区执行董事Tharon Smith访问海马</p>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

	</body>

</html>