<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaiyuan.user.dao.UserMapper">

    <resultMap id="userMap" type="com.kaiyuan.user.entity.SysUser">
        <id property="id" column="ID"/>
        <result property="username" column="username"/>
        <result property="password" column="PASSWORD"/>
        <collection property="roles" ofType="com.kaiyuan.user.entity.SysRole">
            <result column="name" property="name"/>
        </collection>
    </resultMap>
    <select id="findByUserName" parameterType="String"
            resultMap="userMap">
        select u.*
        ,r.name
        from Sys_User u
        LEFT JOIN sys_role_user sru on u.id= sru.Sys_User_id
        LEFT JOIN Sys_Role r on sru.Sys_Role_id=r.id
        where username= #{username}
    </select>

    <select id="findByUserId"  resultType="com.kaiyuan.user.entity.SysUser">
        select *
        from Sys_User
        where username= #{username}
    </select>

    <insert id="addGysUserOne" parameterType="com.kaiyuan.user.entity.SysUser">
		insert into sys_user
		(username,password,status)
		values
		(#{username},#{password},1)
	</insert>

    <insert id="addRole" parameterType="com.kaiyuan.user.entity.SysUser">
		insert into sys_role_user
		(Sys_User_id,Sys_Role_id)
		values
		(#{Sys_User_id},2)
	</insert>

    <insert id="addGysUserTwo"   parameterType="com.kaiyuan.user.entity.SupplieDetails">
		insert into supplie_details
		(companyName,zzjgNumber,tyshNumber,tax_number,account_number,legal_name,legal_number,business_contact,bu_contact_phone,bank,bank_number,address)
		values
		(#{companyName},#{zzjgNumber},#{tyshNumber},#{tax_number},#{account_number},#{legal_name},#{legal_number},#{business_contact},#{bu_contact_phone},#{bank},#{bank_number},#{address})
	</insert>

    <select id="queryGlyid" resultType="com.kaiyuan.user.entity.SupplieDetails">
        select * from supplie_details where companyName=#{companyName}
    </select>

    <update id="updateGysUserSt">
        update sys_user set
        gysid=#{gysid},
        status=2
        where username=#{username}
    </update>

    <select id="queryGysAll"  resultType="com.kaiyuan.user.entity.SupplieDetails">
        select * from supplie_details where gysid=(select gysid from sys_user where username=#{username})
    </select>

    <update id="updateSupplieDetails">
        UPDATE supplie_details
        <set>
            <if test="sup.companyName!=null and sup.companyName!='' ">
                companyName = #{sup.companyName},
            </if>
            <if test="sup.zzjgNumber!=null and sup.zzjgNumber!='' ">
                zzjgNumber = #{sup.zzjgNumber},
            </if>
            <if test="sup.tyshNumber!=null and sup.tyshNumber!='' ">
                tyshNumber = #{sup.tyshNumber},
            </if>
            <if test="sup.tax_number!=null and sup.tax_number!='' ">
                tax_number = #{sup.tax_number},
            </if>
            <if test="sup.account_number!=null and sup.account_number!='' ">
                account_number = #{sup.account_number},
            </if>
            <if test="sup.legal_name!=null and sup.legal_name!='' ">
                legal_name = #{sup.legal_name},
            </if>
            <if test="sup.legal_number!=null and sup.legal_number!='' ">
                legal_number = #{sup.legal_number},
            </if>
            <if test="sup.business_contact!=null and sup.business_contact!='' ">
                business_contact = #{sup.business_contact},
            </if>
            <if test="sup.bu_contact_phone!=null and sup.bu_contact_phone!='' ">
                bu_contact_phone = #{sup.bu_contact_phone},
            </if>
            <if test="sup.bank!=null and sup.bank!='' ">
                bank = #{sup.bank},
            </if>
            <if test="sup.bank_number!=null and sup.bank_number!='' ">
                bank_number = #{sup.bank_number},
            </if>
            <if test="sup.address!=null and sup.address!='' ">
                address = #{sup.address},
            </if>
        </set>
         WHERE gysid = (select gysid from sys_user where username=#{username});
    </update>

    <update id="updatePassword">
        update sys_user set
        password=#{password}
        where username=#{username}
    </update>

    <delete id="deleteGysSupplie" parameterType="Integer">
     	delete from supplie_details where gysid= #{gysid}
	</delete>

    <delete id="deleteGysUser" parameterType="Integer">
     	delete from sys_user where gysid= #{gysid}
	</delete>

    <select id="querySupplieCount" resultType="java.lang.Integer">
        select count(gysid)
        from supplie_details
        where  1=1
        <if test="companyName!=null and companyName!=''">and companyName like  concat('%',#{companyName},'%')</if>

    </select>

    <select id="querySupplieList" parameterType="String"  resultType="com.kaiyuan.user.entity.SupplieDetails">
        select *
        from supplie_details
        where  1=1
        <if test="companyName!=null and companyName!=''">
            and companyName like  concat('%',#{companyName},'%')
        </if>
        <if test="start!=null">
            limit #{start} ,10
        </if>
    </select>

</mapper>